body html{
  height: 100%;

}
.values {
  margin: 10px;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.txt{
  font-size: 2rem;
}
.num {
  margin: 10px;

}

.map {
  margin: 20px;
}
.plot {
  margin: 20px;
}

@media  (max-width:600px){
  .graphs{
    display: none;
  }
}