﻿<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="favicon.svg"/>
    <link rel="stylesheet" href="css/styles.css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.0.0.min.js"
        crossorigin="anonymous"></script>
  </head>
  <body>
<div class="w3-display-container">
    <div class="w3-panel w3-green">
      <h1>Informação epidemiológica da COVID-19 nos Açores</h1>
      <p>Última atualização {{last_date}}</p>
    </div>
<div class='w3-row figs'>
  <div class='w3-col values' style="width:250px">
    <div class='w3-card-4 num' ><header class='w3-container w3-blue w3-center txt'>Positivos</header><div class='w3-container w3-center'id='positivos'>{{casos}}</div></div>
    <div class='w3-card-4 num'><header class='w3-container w3-orange w3-center txt'>Suspeitos</header><div class='w3-container w3-center'id='suspeitos'>{{suspeitos}}</div></div>
    <div class='w3-card-4 num' ><header class='w3-container w3-deep-orange w3-center txt'>Vigilância</header><div class='w3-container w3-center'id='vigilancia'>{{vigilancia}}</div></div>
    <div class='w3-card-4 num' ><header class='w3-container w3-center w3-blue-gray txt'>Óbitos</header><div class='w3-container w3-center' id='obitos'>{{obitos}}</div></div>
    <div class='w3-card-4 num'><header class='w3-container w3-green w3-center txt'>Recuperados</header><div class='w3-container w3-center' id='recuperados'>{{recuperados}}</div></div>
    </div>
  <div class='w3-rest graphs'>
    <div class='w3-card-4 map'>{{map}} {{script_map}}</div>
    <div class='w3-card-4 plot'>{{plot}} {{script_plot}}</p></div>
  </div>
</div>
</div>


  </body>
  <footer class="w3-container"><p>Fonte de dados: Direção Regional da Saúde da Região Autónoma dos Açores</p><p>código e dados em: <a href="https://gitlab.com/nmota/covid19-azores">https://gitlab.com/nmota/covid19-azores</a> contacto: covid19 @ nmota .eu</p></footer>
</html>